<% if link.errors.any? %>
  <% link.errors.full_messages.each do |message| %>
    <li class="ml-10"><%= message %></li>
  <% end %>
<% end %>
<%= form_for link do |form| %>
  URL: <%= form.text_field :url %>
  Customize:  <%= form.text_field :slug %>
  <button><%= form.submit %></button>
<% end %>