<div class="m-5">
  <%= form_for @link do |form| %>
    URL: <%= form.text_field :url %>
    Customize:  <%= form.text_field :slug %>
    <button><%= form.submit %></button>
  <% end %>
</div>
<h2 class="ml-5">Your Link</h2>
<div class="my-5 ml-5 bg-blue-200 w-96">
  <div>
    <% @links.each do |links| %>
      <div class="p-5 border-b-2">
        <span class="block"><%= links.created_at.strftime("%Y-%m-%d") %></span>
        <span><%= links.shortened_url %></span>
        <%= link_to 'details', link_path(links) %>
      </div>
    <% end %>
  </div>
</div>

