<div class="m-5">
  <%= render 'form', link: @link %>
</div>
<h2 class="ml-5">Your Link</h2>
<section class="flex" id="link-info-section">
  <div class="my-5 ml-5 bg-blue-200 w-96">
    <div>
      <% @links.each do |link| %>
        <div class="p-5 border-b-2 hover:bg-blue-400" 
            data-controller="link" 
            data-action="click->link#show" 
            data-created-at="<%= link.created_at.strftime('%B %d, %Y %T') %>"
            data-user-email="<%= User.find(link.user_id).email %>"
            data-shortened_url="<%= link.shortened_url %>"
            data-url="<%= link.url %>"
            data-clicked="<%= link.clicked %>"
            data-link-id="<%= link.id %>"
            >
          <span class="block">
            <%= link.created_at.strftime("%Y-%m-%d") %>
          </span>
          <span class="block my-2">
            <%= link.shortened_url %>
          </span>
          <%= link_to 'Edit', edit_link_path(link), :class => 'inline-block p-2 border-2 border-blue500 my-2' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

