<div class="m-5">
  <%= render 'form', link: @link %>
</div>
<h2 class="ml-5">Your Link</h2>
<section class="flex">
  <div>
    <div class="my-5 ml-5 bg-blue-200">
      <%= render 'link_info', links: @links %>
    </div>
  </div>
  <div class="bg-pink-100 my-5 px-5">
    <div class="mt-5">
      <div class='py-3'>
        <span class='text-slate-500'><%= @the_link.created_at.strftime('%B %d, %Y %T') %> by </span>
        <span><%= User.find(@the_link.user_id).email %></span>
      </div>
      <div class='py-3'>
        <span><%= link_to @the_link.shortened_url, @the_link.shortened_url, :class => 'hover:bg-blue-100 py-3' %></span>
      </div>
      <div class='py-3'>
        <span>Destination: <%= link_to @the_link.url, @the_link.url, :class => 'hover:bg-blue-100 py-3' %></span>
      </div>
      <div class="py-3">
        <span>Clicked: <%= @the_link.clicked %></span>
      </div>
      <button class="block border-2 border-slate-400 text-slate-400"><%= link_to 'delete', link_path(@the_link), method: 'delete', data:{confirm: 'Are you sure?'} %></button>
    </div>
  </div>
</section>