<div class="m-5">
  <%= form_for @link do |form| %>
    URL: <%= form.text_field :url %>
    Customize:  <%= form.text_field :slug %>
    <button><%= form.submit %></button>
  <% end %>
</div>
<h2 class="ml-5">Your Link</h2>
<section class="flex">
  <div>
    <div class="my-5 ml-5 bg-blue-200">
      <div>
        <% @links.each do |links| %>
          <div class="p-5 border-b-2">
            <span class="block"><%= links.created_at.strftime("%Y-%m-%d") %></span>
            <span><%= links.shortened_url %></span>
            <%= link_to 'details', link_path(links) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-pink-100 my-5 px-5">
    <div class="mt-5">
      <div class='py-3'>
        <span class='text-slate-500'><%= @the_link.created_at.strftime('%B %d, %Y %T') %> by </span>
        <span><%= User.find(@the_link.user_id).email %></span>
      </div>
      <div class='py-3'>
        <span><%= link_to @the_link.shortened_url, @the_link.shortened_url, :class => 'hover:bg-blue-100 py-3' %></span>
      </div>
      <div class='py-3'>
        <span>Destination: <%= link_to @the_link.url, @the_link.url, :class => 'hover:bg-blue-100 py-3' %></span>
      </div>
      <div class="py-3">
        <span>Clicked: <%= @the_link.clicked %></span>
      </div>
      <button class="block border-2 border-slate-400 text-slate-400"><%= link_to 'delete', link_path(@the_link), method: 'delete', data:{confirm: 'Are you sure?'} %></button>
    </div>
  </div>
</section>