<!DOCTYPE html>
<html>
  <head>
    <title>ShortenAddress</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= "data-no-turbolinks='true'".html_safe if controller_name=="links" && action_name=="destination" %>>
    <section class="w-full">
      <header class="text-lg">
        <nav class="relative flex items-center justify-between mx-auto py-5 bg-blue-200">
          <h1 class="px-2 text-center font-bold bg-pink-100 hover:bg-orange-300"><%= link_to 'SYL | Shorten Your Links', root_path %></h1>
          <div>
            <% if user_signed_in? %>
            <div class="flex items-center">
              <span class="mr-6"><%= current_user.email %></span>
              <span class="px-2 py-1 bg-pink-100 hover:bg-orange-300"><%= button_to 'Sign out', destroy_user_session_path, method: 'delete' %></span>
            </div>
            <% else %>
              <span class="mr-6 px-2 py-1 bg-pink-100 hover:bg-orange-300"><%= link_to 'Sign In', new_user_session_path %></span>
              <span class="px-2 py-1 bg-pink-100 hover:bg-orange-300"><%= link_to 'Sign Up', new_user_registration_path %></span>
            <% end %>
          </div>
        </nav>
      </header>
      <main class="my-5">
        <span class="ml-5 "><%= notice %></span>
        <%= yield %>
      </main>
    </section>
  </body>
  <footer class="bg-pink-100">
    <h1 class="text-center text-xl hover:decoration-orange-400"><%= link_to 'SYL', root_path %></h1>
    <p class="text-center text-sm ">Copyright © 2022 Mike Lai. All rights reserved.</p>
  </footer>
</html>
